@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap);
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #13c5dd;
  --dark: #1d2a4d;
  --light: #fff;
}
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  background-color: #f5f5f5;
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #13c5dd, #1d2a4d);
  background-image: linear-gradient(45deg, var(--primary-color), var(--dark));
  border-radius: 10px;
}
#root > * {
  overflow: hidden;
}
.text-primary {
  color: #13c5dd;
  color: var(--primary-color);
}
.nav-links-wd {
  text-decoration: none;
}
.list-ws {
  list-style: none;
}
.fa {
  font-family: Font Awesome\5 Free;
}
.nav-links-wd {
  color: #000;
  color: #1d2a4d;
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: bolder;
}
.button {
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
  padding-block: 15px;
  width: 10rem;
}
.button,
.primary-heading {
  font-family: Roboto, sans-serif;
}
.primary-heading {
  font-size: 2.6rem;
}
.secondary-heading {
  border-bottom: 4px solid #13c5dd;
  border-bottom: 4px solid var(--primary-color);
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.text-dark {
  color: #1d2a4d;
  color: var(--dark);
}
.bold {
  font-weight: 700;
}
.text-light {
  color: #fff;
  color: var(--light);
}
nav {
  background: #fff;
  border-radius: 3rem;
  box-shadow: 0 1px 10px #1d2a4dde;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  padding-inline: 1rem;
  position: fixed;
  right: 0;
  top: 1rem;
  width: 1000px;
  z-index: 1000;
}
.logo-sect,
nav {
  align-items: center;
  display: flex;
}
.logo-sect {
  flex-wrap: nowrap;
  font-size: 1.6rem;
  gap: 5px;
  justify-content: center;
}
.logo-sect h1 {
  font-family: Bebas Neue, cursive;
}
.logo-sect span:before {
  content: "\f7f2";
}
.nav-list > ul li {
  display: inline-block;
  margin-inline: 0.5rem;
}
.nav-list > ul li a {
  border-radius: 3rem;
  padding: 5px 10px;
}
.nav-list > ul li a:hover {
  background: #13c5dd;
  background: var(--primary-color);
  color: #fff;
  color: var(--light);
}
.dropdown-toggle:after {
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  border-top: 0.3em solid;
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
}
.dropdown-toggle:hover {
  cursor: pointer;
}
.nav-dropdown {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 10px hsla(0, 0%, 53%, 0.604);
  display: none;
  padding-block: 5px;
  position: absolute;
  right: 5%;
  top: 6rem;
  z-index: 1000;
}
.nav-dropdown li {
  padding: 5px 30px;
}
.nav-dropdown li:hover {
  background-color: #13c5dd;
  background-color: var(--primary-color);
}
.hero-wrapper {
  font-family: Roboto, sans-serif;
  min-height: 70vh;
  position: relative;
  width: 100%;
}
.hero-wrapper:before {
  background: url(/static/media/woman-g63242e222_1920.fc71c32970052b20e181.jpg);
  background-size: cover;
  z-index: -200;
}
.hero-wrapper:after,
.hero-wrapper:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-wrapper:after {
  background: linear-gradient(45deg, #1d2a4d, #1d2a4d, #fff);
  background: linear-gradient(45deg, var(--dark), var(--dark), var(--light));
  background-size: cover;
  opacity: 0.45;
  z-index: -199;
}
.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.hero-buttons {
  bottom: 2rem;
  position: absolute;
}
.find-doc-button,
.hero h1 {
  color: #fff;
  color: var(--light);
}
.find-doc-button {
  background-color: #13c5dd;
  background-color: var(--primary-color);
  margin-inline: 5px;
  transition: all 0.1s ease;
}
.find-doc-button:hover {
  background-color: #fff;
  background-color: var(--light);
  color: #1d2a4d;
  color: var(--dark);
}
.appointment-button {
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #1d2a4d;
  color: var(--dark);
  margin-inline: 5px;
}
.appointment-button:hover {
  background-color: initial;
  color: #fff;
  color: var(--light);
}
.about-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5rem 2rem;
  position: relative;
  width: 100%;
}
.about-wrapper:before {
  background: #1d2a4d;
  background: var(--dark);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
}
.about-wrapper:after,
.about-wrapper:before {
  content: "";
  height: 100px;
  opacity: 0.3;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100px;
  z-index: -10;
}
.about-wrapper:after {
  background: #13c5dd;
  background: var(--primary-color);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: 0;
}
.about {
  grid-gap: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1.5fr;
  max-width: 1300px;
}
.img-wrapper {
  align-items: center;
  border-radius: 20px;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.about img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-cards {
  border-top: 4px solid #13c5dd;
  border-top: 4px solid var(--primary-color);
  gap: 20px;
  width: 100%;
}
.about-cards,
.round-card {
  align-items: center;
  display: flex;
  justify-content: center;
}
.round-card {
  background-color: #13c5dd;
  background-color: var(--primary-color);
  border-radius: 0 0 6rem 6rem;
  flex-direction: column;
  padding: 20px 30px;
}
.round-card img {
  width: 80px;
}
@media screen and (max-width: 920px) {
  .about {
    display: flex;
    flex-direction: column;
  }
}
.services-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5rem 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}
.services:before {
  background: #1d2a4d;
  background: var(--dark);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 50%;
}
.services:after,
.services:before {
  content: "";
  height: 100px;
  opacity: 0.3;
  position: absolute;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 100px;
  z-index: -10;
}
.services:after {
  background: #13c5dd;
  background: var(--primary-color);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 50%;
  right: 0;
}
.services {
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem;
  width: 100%;
}
.service-cards,
.services {
  align-items: center;
  display: flex;
  justify-content: center;
}
.service-cards {
  flex-wrap: wrap;
  gap: 2rem;
}
.service-card {
  align-items: center;
  aspect-ratio: 10/10;
  background-color: rgba(207, 247, 255, 0.527);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 2rem;
  transition: all 0.3s;
  width: 20rem;
}
.service-card:hover {
  box-shadow: 0 1px 10px rgba(60, 138, 136, 0.478);
  cursor: pointer;
}
.service-cover {
  background: #13c5dd;
  background: var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
  padding: 2rem;
}
.service-cover img {
  aspect-ratio: 1/1;
  width: 90px;
}
.appointment-wrapper {
  align-items: center;
  background: #13c5dd;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 5rem 2rem;
  width: 100%;
}
.heading-light {
  border-bottom: 4px solid #fff !important;
  color: #fff !important;
}
.appointment {
  grid-column-gap: 3rem;
  -webkit-column-gap: 3rem;
  column-gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1350px;
}
.appoint-desc {
  gap: 2rem;
}
.appoint-desc,
form {
  display: flex;
  flex-direction: column;
}
form {
  background: #fff;
  border-radius: 20px;
  gap: 1.3rem;
  justify-content: space-between;
  padding: 3rem 2rem;
}
.form-row,
form {
  align-items: center;
}
.form-row {
  -webkit-column-gap: 1.3rem;
  column-gap: 1.3rem;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  width: 100%;
}
.form-child {
  border: 2px solid #6f6f6fa6;
  border-radius: 10px;
  padding: 15px 5px;
  width: 45%;
}
.form-child:focus {
  border: none;
}
.form-button {
  background: #13c5dd;
  background: var(--primary-color);
  transition: all 0.3s;
  width: 100% !important;
}
.form-button:hover {
  box-shadow: 0 1px 7px #1d2a4d96;
}
.find-doc-dark {
  background-color: #1d2a4d;
  background-color: var(--dark);
  color: #13c5dd;
  color: var(--primary-color);
  margin-right: 10px;
  transition: all 0.3s;
}
.find-doc-dark:hover {
  background-color: #fff;
  box-shadow: 0 1px 5px #1d2a4d;
  box-shadow: 0 1px 5px var(--dark);
}
.find-doc-dark:hover,
.read {
  color: #1d2a4d;
  color: var(--dark);
}
.read {
  transition: all 0.3s;
}
.read:hover {
  background: #1d2a4d;
  background: var(--dark);
  color: #fff;
}
@media screen and (max-width: 840px) {
  .appointment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.mp-section-wrapper {
  padding: 5rem 2rem;
}
.mp-section,
.mp-section-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.mp-section {
  flex-direction: column;
  position: relative;
}
.mp-section:before {
  background: #1d2a4d;
  background: var(--dark);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: -1%;
  top: 0;
}
.mp-section:after,
.mp-section:before {
  content: "";
  height: 100px;
  opacity: 0.3;
  position: absolute;
  -webkit-transform: rotate(55deg);
  transform: rotate(55deg);
  width: 100px;
  z-index: -10;
}
.mp-section:after {
  background: #13c5dd;
  background: var(--primary-color);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  right: -1%;
}
.mp-cards-scroller {
  border-radius: 30px;
}
.mp-cards-scroller,
.mp-cards-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.mp-cards-wrapper {
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.picture-card {
  border-radius: 10px;
  box-shadow: 0 1px 7px hsla(0, 0%, 69%, 0.62);
  flex-direction: column;
  justify-content: flex-start;
  max-height: 455px;
  overflow: hidden;
  width: 20rem;
}
.pic-card-upper-sec,
.picture-card {
  align-items: center;
  display: flex;
  position: relative;
}
.pic-card-upper-sec {
  height: 50%;
  justify-content: center;
  padding: 5rem 1rem;
  width: 100%;
}
.pic-card-upper-sec-content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pic-card-upper-sec-content span h3 {
  display: inline;
}
.pic-card-upper-sec:before {
  background: linear-gradient(45deg, #1d2a4d, #1d2a4d, #13c5dd);
  background: linear-gradient(
    45deg,
    var(--dark),
    var(--dark),
    var(--primary-color)
  );
  content: "";
  opacity: 0.7;
  z-index: -1;
}
.pic-card-upper-sec-before,
.pic-card-upper-sec:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.pic-card-upper-sec-before {
  display: block;
  object-fit: cover;
  z-index: -2;
}
.pic-card-lower-sec {
  align-items: center;
  background: rgba(207, 247, 255, 0.527);
  color: #1d2a4d;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}
.pic-card-lower-sec button {
  background: #13c5dd;
  background: var(--primary-color);
  font-weight: lighter;
  transition: all 0.1s ease;
}
.pic-card-lower-sec button:hover {
  background-color: #1d2a4d;
  background-color: var(--dark);
  box-shadow: 0 1px 5px #1d2a4d;
  box-shadow: 0 1px 5px var(--dark);
}
.doctors-section-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  overflow: hidden;
  padding: 5rem 2rem;
  position: relative;
  width: 100%;
}
.doctors-section-wrapper:before {
  background: #13c5dd;
  background: var(--primary-color);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 10%;
}
.doctors-section-wrapper:after,
.doctors-section-wrapper:before {
  bottom: 0;
  content: "";
  height: 30rem;
  opacity: 0.5;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 10rem;
  z-index: -1;
}
.doctors-section-wrapper:after {
  background: #1d2a4d;
  background: var(--dark);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  right: 10%;
}
.doctor-cards-scroller {
  align-items: flex-start;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  gap: 1rem;
  max-width: 1350px;
  overflow-x: scroll;
  padding-block: 1rem;
  scroll-behavior: smooth;
  scroll-snap-type: inline mandatory;
  width: 100%;
}
.doctor-cards-scroller::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  margin-inline: 10rem;
}
.doctor-cards-scroller::-webkit-scrollbar {
  background-color: #ffffff00;
  height: 8px;
}
.doctor-cards-scroller::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #13c5dd, #1d2a4d);
  background-image: linear-gradient(45deg, var(--primary-color), var(--dark));
  border-radius: 10px;
}
.doctor-card {
  background: #e7e7e7;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  height: 16rem;
  min-width: 35rem;
  overflow: hidden;
  scroll-snap-align: start;
}
.doctor-card-img-wrapper > img {
  background-position: 50%;
  background-size: cover;
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.doctor-details {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  padding: 1rem;
  width: 18rem;
}
.doctor-details h1 {
  font-size: 1.7rem;
}
.social-links {
  align-items: center;
  border-top: 1px solid #1d2a4d;
  border-top: 1px solid var(--dark);
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  padding-top: 0.3rem;
  width: 100%;
}
.social-link img {
  width: 35px;
}
.social-link {
  background: #1d2a4d;
  background: var(--dark);
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  transition: all 0.1s ease;
  width: calc(35px + 1rem) !important;
}
.social-link:hover {
  box-shadow: 0 1px 7px #1d2a4d96;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}
/*# sourceMappingURL=main.4ca15378.css.map*/
